body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #eea990;
}

.user-interface{
    width: 30rem;
    height: 15rem;
    border: 1px solid #a39193;
    border-radius: 1rem;
    background-color: #f6e0b5;
}

h1{
    font-family: "Arial";
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aa6f73;
}

input{
    width: 17rem;
    height: 2rem;
    border: 1px solid #a39193;
    display: block;
    margin: 3rem 3rem;
}

button{
    width: 5rem;
    height: 2rem;
    border: 1px solid #a39193;
    display: block;
    margin: -5rem 21rem;
    border-radius: 0.25rem;
    color: #aa6f73;
    background-color: #eea990;
    font-weight: bold;
}

.blank-error, 
.nonexistent-error, 
.vocab-term, 
.part-speech, 
.definition-header,
.definition1-text,
.definition2-text {
    position: absolute;
    top: 53.5%; 
    left: 41.65%;
    font-family: "Arial";
    font-size: 1.4rem;
    color: #aa6f73;
}

.vocab-term{
    top: 40%; 
    left: 41.65%;
}

.part-speech{
    top: 45%;
    left: 41.65%;
}

.definition-header{
    top: 50%;
    left: 41.65%;
}

.definition1-text{
    top: 55%;
    left: 43%;
    font-size: 1.4rem;
    width: 22rem;
}

.definition2-text{
    top: 62.5%;
    left: 43%;
    font-size: 1.4rem;
    width: 22rem;
}